<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="首页">
    <meta name="author" content="sunwx">
    <title>首页</title>
    <link rel="stylesheet" href="../../../res/commom/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../../res/commom/bootstrap3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../res/commom/easyui/themes/fileinput.css">
    <link rel="stylesheet" href="../../../res/commom/easyui/plugins/summernote/summernote.css">
    <link rel="stylesheet" href="../../../res/css/index/index.css">
</head>
<body>
<div class="navbar-wrapper">
    <div class="container">
        <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                            aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">YourView</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="#">主页</a></li>
                        <li><a href="#">关注</a></li>
                        <li><a href="#">社区</a></li>
                        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">个人信息<span
                                class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">我的分享</a></li>
                                <li><a href="#">编辑信息</a></li>
                                <li><a href="#">上传分享</a></li>
                                <li><a href="#">好友</a></li>
                                <li><a href="#">个人信息管理</a></li>
                            </ul>
                        </li>
                        <li class="navbar-left"></li>
                    </ul>
                    <ul id="login" class="nav navbar-nav pull-right">
                        <li v-if="seen"><a href="toLogin">登录</a></li>
                        <li v-if="seen"><a href="toRigister">注册</a></li>
                        <user></user>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>
<!--  ================================================ -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="../../../res/image/index/lunbo2.jpg" alt="First slide"/>
            <div class="container">
                <div class="carousel-caption">介绍》》》》》》》》》》》》》》》》》》》》》》》》》</div>
            </div>
        </div>
        <div class="item">
            <img src="../../../res/image/index/lunbo1.jpg" alt="Second slide"/>
            <div class="container">
                <div class="carousel-caption">介绍》》》》》》》》》》》》》》》》》》》》》》》》》</div>
            </div>
        </div>
        <div class="item">
            <img src="../../../res/image/index/lunbo0.jpg" alt="Third slide"/>
            <div class="container">
                <div class="carousel-caption">介绍》》》》》》》》》》》》》》》》》》》》》》》》》</div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button"
       data-slide="prev"> <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">上一张</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button"
       data-slide="next"> <span
            class="glyphicon glyphicon-chevron-right"></span> <span
            class="sr-only">下一张</span>
    </a>
</div>

<!--==============================================================-->

<div class="container marketing">
    <div class="row">
        <div class="col-lg-4">
            <img src="../../../res/image/index/icon1.jpg" class="img-circle" alt="Generic placeholder image"
                 width="140px"
                 height="140px"/>
            <h2>Heading</h2>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis
                euismod. Nullam id dolor id nibh ultricies vehicula ut id elit.
                Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
                Praesent commodo cursus magna.</p>
            <p>
                <a class="btn btn-default" href="#" role="button">View details
                    &raquo;</a>
            </p>
        </div>

        <div class="col-lg-4">
            <img src="../../../res/image/index/icon2.jpg" class="img-circle" alt="Generic placeholder image"
                 width="140px"
                 height="140px"/>
            <h2>Heading</h2>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis
                euismod. Nullam id dolor id nibh ultricies vehicula ut id elit.
                Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
                Praesent commodo cursus magna.</p>
            <p>
                <a class="btn btn-default" href="#" role="button">View details
                    &raquo;</a>
            </p>
        </div>

        <div class="col-lg-4">
            <img src="../../../res/image/index/icon3.jpg" class="img-circle" alt="Generic placeholder image"
                 width="140px"
                 height="140px"/>
            <h2>Heading</h2>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis
                euismod. Nullam id dolor id nibh ultricies vehicula ut id elit.
                Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
                Praesent commodo cursus magna.</p>
            <p>
                <a class="btn btn-default" href="#" role="button">View details
                    &raquo;</a>
            </p>
        </div>
    </div>


    <!--================================================================-->
    <hr class="featurette-divider">
    <div class="row ">
        <div class="col-md-7">
            <h2 class="featurette-heading">
                First featurette heading.
                <span class="text-muted">
                It'll blow your mind.
            </span>
            </h2>
            <p class="lead">
                Donec ullamcorper nulla non metus auctor
                fringilla. Vestibulum id ligula porta felis euismod semper.
                Praesent commodo cursus magna, vel scelerisque nisl consectetur.
                Fusce dapibus, tellus ac cursus commodo.
            </p>
        </div>
        <div class="col-md-5">
            <img src="../../../res/image/index/dex1.jpg" class="img-responsive"/>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row">
        <div class="col-md-5">
            <img class="img-responsive" src="../../../res/image/index/dex2.jpg">
        </div>
        <div class="col-md-7">
            <h2 class="featurette-heading">
                Oh yeah, it's that good. <span class="text-muted">See for
						yourself.</span>
            </h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor
                fringilla. Vestibulum id ligula porta felis euismod semper.
                Praesent commodo cursus magna, vel scelerisque nisl consectetur.
                Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row ">
        <div class="col-md-7">
            <h2 class="featurette-heading">
                First featurette heading.
                <span class="text-muted">
                It'll blow your mind.
            </span>
            </h2>
            <p class="lead">
                Donec ullamcorper nulla non metus auctor
                fringilla. Vestibulum id ligula porta felis euismod semper.
                Praesent commodo cursus magna, vel scelerisque nisl consectetur.
                Fusce dapibus, tellus ac cursus commodo.
            </p>
        </div>
        <div class="col-md-5">
            <img src="../../../res/image/index/dex1.jpg" class="img-responsive"/>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row">
        <div class="col-md-5">
            <img class="img-responsive" src="../../../res/image/index/dex3.jpeg">
        </div>
        <div class="col-md-7">
            <h2 class="featurette-heading">
                Oh yeah, it's that good. <span class="text-muted">See for
						yourself.</span>
            </h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor
                fringilla. Vestibulum id ligula porta felis euismod semper.
                Praesent commodo cursus magna, vel scelerisque nisl consectetur.
                Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
    </div>

    <hr class="featurette-divider">


    <!--============================================================-->

    <footer>
        <p class="pull-right">
            <a href="#">back to top</a>
        </p>
        <p>
            &copy; 2016 Company, Sun. &middot; <a href="index.html">首页</a>
            &middot; <a href="#">孙文祥</a>
        </p>
    </footer>
</div>
<!-- 添加按钮 -->
<div id="addRes" class="buttonDiv">
    <a data-toggle="modal" id="exportModel" data-target="#myModal">
        <i class="glyphicon glyphicon-plus" style="font-size: 30px"></i>
    </a>
</div>
<!--弹出层-->
<div id="modal">
    <modal></modal>
</div>

<script src="../../../res/commom/easyui/plugins/jquery-3.2.1.min.js"></script>
<script src="../../../res/commom/easyui/plugins/vue.min.js"></script>
<script src="../../../res/commom/easyui/plugins/fileinput.js"></script>
<script src="../../../res/commom/easyui/plugins/fileinput_locale_zh.js"></script>
<script src="../../../res/commom/easyui/plugins/summernote/summernote.js"></script>
<script src="../../../res/commom/easyui/plugins/summernote/lang/summernote-zh-CN.min.js"></script>
<script src="../../../res/commom/easyui/plugins/jquery.cookie.js"></script>
<script src="../../../res/js/index/index.js"></script>
<script src="../../../res/commom/bootstrap3.3.7/js/bootstrap.min.js"></script>

<script>


</script>
</body>
</html>